<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReportingSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ReportingSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://52.43.97.199/GpsGateServer/Services/Reporting.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReportingSoap"
                contract="ReportingSoap" name="ReportingSoap" />
            <endpoint address="http://52.43.97.199/GpsGateServer/Services/Reporting.asmx"
                binding="customBinding" bindingConfiguration="ReportingSoap12"
                contract="ReportingSoap" name="ReportingSoap12" />
        </client>
    </system.serviceModel>
</configuration>