@model IEnumerable<Hyoung.FMS.Core.RestModel.VehicleTelemetryGPSGATE> 
@{
    ViewData["Title"] = "GetReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Reports</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Generate Reports </a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Heavy Vehicles</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<script src="~/data/customers.js"></script>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class=" ibox-content">

                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="ibox selected">

                <div class="ibox-content">
                    <div class="">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>