
@{
    ViewBag.Title = "Main";
}
<script src="~/data/customers.js"></script>


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            @(Html.DevExtreme().DataGrid()
    .ID("gridContainer")
    .ShowBorders(true)
    .DataSource(new JS("customers"))
    .Columns(c => {
        c.Add().DataField("CompanyName");
        c.Add().DataField("City");
        c.Add().DataField("State");
        c.Add().DataField("Phone");
        c.Add().DataField("Fax");
    })
)

        </div>
    </div>

</div>
