/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

  
.chart-container {
    height: 700px; /* or set to 100% depending on layout */
    overflow-y: auto; /* enables vertical scrolling if the content is taller than the container */
  }

  .container{
    width: 1500px;
  }