<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hyoung.FMS.WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Hyoung.FMS.WebService.Properties.Settings>
            <setting name="Hyoung_FMS_WebService_DirectoryServiceReference_Directory"
                serializeAs="String">
                <value>http://52.43.97.199/GpsGateServer/Services/Directory.asmx</value>
            </setting>
            <setting name="Hyoung_FMS_WebService_ReportingReference_Reporting"
                serializeAs="String">
                <value>http://52.43.97.199/GpsGateServer/Services/Reporting.asmx</value>
            </setting>
        </Hyoung.FMS.WebService.Properties.Settings>
    </applicationSettings>
</configuration>